<div class="container">
<h2>Contact Us</h2>
<h3>Old Book Shelf</h3>
<img src="../images/location.JPG" class="img-responsive img-rounded location" alt="Location">
<div class="flex-container">
  <div class="address flex-item">
	<address>
	   #184, Residency Road,<br>
		Shanthala Nagar,<br>
		Bangalore 560025
	  </address>
	</div>
  <div class="address flex-item">
	<address>
	  #72, 1st Floor,<br>
	  Pusa Road, Karol Bagh,<br>
	  New Delhi - 110005
	  </address>
	</div>
  <div class="address flex-item">
	<address>
	  #18, Duel Avenue, Alipore,<br>
	  Kolkata - 700027 
	  </address>
	</div>
  <div class="address flex-item">
	 <address>
	  #56, Haddows Road,<br>
	  Nungambakkam,<br> 
	  Chennai – 600 006
	  </address> 
	</div>
</div>
<h4>If you are looking for the following, please contact us-</h4>
	<h5>Careers:mail your resume to <b>careers@oldbookshelf.com</b></h5>
<h5>Request for any book/genre:mail your suggestions/queries to <b>query@oldbookshelf.com</b></h5>
<h5>For Franchise:send your company name, e-mail id and contact number to <b>franchise@oldbookshelf.com</b></h5>
</div>