<div class="container">
<h2>Frequently Asked Questions (FAQ)</h2>
<h4><b>What types of books can be given or taken?</b></h4>
<h4>Currently we are maintaining only novels of different genres. We provide or accept only novels.</h4>
	<h4><b>Which genres can be given or taken?</b></h4>
<h4>We accept or provide the following genres currently-
	<li>Comedy</li>
	<li>Mystery</li>
	<li>Thriller</li>
	<li>Fantasy</li>
	<li>Non-fiction</li>
	<li>Science-fiction</li>
	<li>Historical fiction</li>
	<li>Drama</li>
	<li>Horror</li>
	<li>Tragedy</li>
</h4>
	<h4><b>Why can't I take more than 1 book?</b></h4>
<h4>Since ours is give and take policy. We need to maintain stock of books for all users. We have huge collection of books you can always choose from. We will allow more than 1 book shortly in future.</h4>
	<h4><b>In how many days will I receive the ordered book?</b></h4>
<h4>Fast delivery takes within 48 hours. Normal delivery takes up to 7-10 days</h4>
	<h4><b>Can I give any other genre novel that is not mentioned here?</b></h4>
<h4>Yes. You can absolutely give any genre novel. We are ready to expand our categories so that readers can easily find the type of genre they wanted.</h4>
	<h4><b>Can I give any book other than novels?</b></h4>
<h4>No. We accept only novels but not any other general/subject books</h4>
	<h4><b>What if I receive damaged book?</b></h4>
<h4>We don’t accept/maintain damaged books. Hence you will not receive damaged books. If such situation arises you can write to us to returns@oldbookshelf.com. we will provide you good copy or any other novel you would select.</h4>
<h4><b>When will I receive my discount coupons?</b></h4>
<h4>Usually we send all discount coupons/vouchers to your address as soon as we receive the book you sent.</h4>
<h4><b>I have some other query</b></h4>
<h4>Please free to write to us to:support@oldbookshelf.com. We will reply within 24hrs.</h4>
</div>