<div class="container"><h2>Hall of Fame</h2></div>
<div class="container-fluid">
<img src="../images/carousel/popularAuthors.JPG" class="img-responsive img-rounded item" alt="Popular Authors" data-toggle="tooltip" title="Popular Authors" data-placement="auto">
<img src="../images/carousel/popularBooks.JPG" class="img-responsive img-rounded item" alt="Popular Books" data-toggle="tooltip" title="Popular Books" data-placement="auto">
<img src="../images/carousel/longestNovels.JPG" class="img-responsive img-rounded item" alt="Longest Novels" data-toggle="tooltip" title="Longest Novels" data-placement="auto">
<img src="../images/carousel/shortestNovels.JPG" class="img-responsive img-rounded item" alt="Shortest Novels" data-toggle="tooltip" title="Shortest Novels" data-placement="auto">
</div>
<h3>Here's the list of our book lovers who have read lots of books and exchanged for others</h3>
<div class="container">
<div class="flex-container">
  <div class="flex-item">
	<img id="member1" src="../images/memb1.png" class="img-responsive img-circle member" alt="First rank" data-toggle="tooltip" title="First rank" data-placement="bottom">
<h3>1. Raj P T</h3>
<h4>117 Books</h4>
	</div>
  <div class="flex-item">
	<img id="member2" src="../images/memb2.png" class="img-responsive img-circle member" alt="Second rank" data-toggle="tooltip" title="Second rank" data-placement="bottom">
	<h3>2. Sachin V</h3>
	 <h4>110 Books</h4>
	</div>
  <div class="flex-item">
	 <img id="member3" src="../images/memb3.png" class="img-responsive img-circle member" alt="Third rank" data-toggle="tooltip" title="Third rank" data-placement="bottom">
	<h3>3. Suresh L</h3>
	<h4>99 Books</h4>
	</div>
</div>
<table class="table table-bordered table-striped table-responsive give">
<tr class="info">
<th>Rank</th>
<th>Name</th>
<th>Number of books exchanged</th>
</tr>
<tr>
<td>4</td>
<td>Gowtham A</td>
<td>95</td>
</tr>
<tr>
<td>5</td>
<td>Ananya J</td>
<td>92</td>
</tr>
<tr>
<td>6</td>
<td>N Ashok</td>
<td>88</td>
</tr>
<tr>
<td>7</td>
<td>Shashidhar K</td>
<td>86</td>
</tr>
<tr>
<td>8</td>
<td>Priya N</td>
<td>83</td>
</tr>
<tr>
<td>9</td>
<td>Ankush P</td>
<td>81</td>
</tr>
<tr>
<td>10</td>
<td>Divya C</td>
<td>77</td>
</tr>
<tr>
<td>11</td>
<td>Hema T</td>
<td>75</td>
</tr>
<tr>
<td>12</td>
<td>Piyush M</td>
<td>74</td>
</tr>
<tr>
<td>13</td>
<td>Bharath Kumar</td>
<td>72</td>
</tr>
<tr>
<td>14</td>
<td>Afzal H</td>
<td>71</td>
</tr>
<tr>
<td>15</td>
<td>Tarun R</td>
<td>70</td>
</tr>
<tr>
<td>16</td>
<td>Ankitha</td>
<td>68</td>
</tr>
<tr>
<td>17</td>
<td>Harish</td>
<td>64</td>
</tr>
<tr>
<td>18</td>
<td>Neeta</td>
<td>62</td>
</tr>
<tr>
<td>19</td>
<td>Shruthi S</td>
<td>61</td>
</tr>
<tr>
<td>20</td>
<td>Gangadhar P</td>
<td>55</td>
</tr>
</table>
</div>